<div class="container">
	<div class="page-header">
		<h1>Christmas 2014 Ad Placement</h1>
		<div class="checkbox">
			<label>
				<%= check_box_tag 'entered', 'yes', cookies[:giveaway_entry_data].present? %>Entered Contest?
			</label>
		</div>
	</div>
	<div class="row pages">
		<div class="col-md-4 page">
			<h1>Home</h1>
		</div>
		<div class="col-md-4 page">
			<h1>Blog Home</h1>
			<div>
				<h2>Header</h2>
 				<%= adobe_target_wrapper('christmas-2014-confirmation-offer', enteredContest: cookies[:giveaway_entry_data].present?) do %>
					<h3 class="default">Default Content</h3>
				<% end %>
				<h2>Top Right Sidebar Ad</h2>
			</div>
		</div>
		<div class="col-md-4 page">
			<h1>Contest</h1>
			<div>
				<h2>Giveaway Form</h2>
				<%= adobe_target_wrapper('christmas-2014-confirmation-offer', enteredContest: cookies[:giveaway_entry_data].present?) do %>
					<h3 class="default">Default Content</h3>
				<% end %>
			</div>
		</div>
	</div>
</div>