// Place all the styles related to the ad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
	height: 100%;
	.page {
		height: 100%;
		border: 1px dotted black;
		&:nth-child(odd) {
			background-color: whitesmoke;
		}
		.offer {
			border: 2px solid lightgreen;
			padding: 5px;
			strong {
				display: block;
				margin-bottom: 10px;
			}
		}
		.default {
			border: 2px solid red;
			padding: 5px;
		}
	}
}