<!DOCTYPE html>
<html>
<head>
  <title>Cmas2014</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_loader(:adobe_target) %>
</head>
<body>

<%= yield %>

</body>
</html>
